services:
  notification-service:
    build:
      context: ../../../
      dockerfile: services/backend/notification-service/Dockerfile
    image: notification-service:latest
    container_name: notification-service
    ports:
      - "8004:8080"
    environment:
      - RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbitmq:5672
      - AUTH_SERVICE_URL=http://auth-service:50051
      - RUST_LOG=info,notification_service=info
      - SERVER_PORT=8080
    depends_on:
      rabbitmq:
        condition: service_healthy
      auth-service:
        condition: service_started
    networks:
      - shared-network
    restart: unless-stopped
